* {
    margin: 0;
    padding: 0;
}

h1{
    margin: 2rem 0 0 0 ;
    font-size: 3rem;
}

body {
    background-color: aquamarine;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 8vmin;
    cursor: pointer;
    background-color:beige;
    color: black;
}

#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 10rem;
    background-color: brown;
    color:  white;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    cursor: pointer;
}

#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 10rem;
    background-color: brown;
    color:  white;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
}

#msg {
    color: rgb(199, 126, 31);
    font-size: 3vmin;
    margin: 2vmin 0 ;
}

.msg-container {
    margin: 0 0 3rem 0;
}

.hide{
    display: none;
}